{% macro signalCount(type, bundle, qty) %}
{% if qty == 0 or qty == "0" %}
-
{% elif type and type != "" %}
[{{ qty }}]("/docs/registry/{{type}}/{{bundle}}.md")
{% else %}
{{qty}}
{% endif %}
{% endmacro %}